<div class="mainContent">
  <div class="chatSideWrapper">
    <div class="chatSideNavWrapper">
      <app-chat-side-nav></app-chat-side-nav>
    </div>
    <div class="chatListWrapper">
      <app-chat-list></app-chat-list>
    </div>
  </div>
  <div class="chatMainWrapper">
    <div class="chatMainHeaderWrapper">
      <app-chat-header></app-chat-header>
    </div>
    <div class="chatFeedWrapper">
      <app-chat-feed></app-chat-feed>
    </div>
    <div class="chatFormWrapper">
      <app-chat-form></app-chat-form>
    </div>
  </div>
</div>
