<footer class="page-footer font-small unique-color-dark fixed-bottom pt-0">

    <div>
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 copyright">@ business chat 2018</h6>
                </div>
            </div>
        </div>
    </div>

</footer>
                      
